.team {
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  color: black;
}

.partners {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: calc(0.5rem + 1vmin);
}

.partners-list {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.partner {
  width: 30%;
  height: 300px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.partner-logo {
  width: 75%;
  height: auto;
  background-color: white;
  object-fit: fill;
}

.partner span {
  margin: 5px 0;
}

.partner h4 {
  margin: 5px 0;
}

.partner-socials {
  display: flex;
  justify-content: center;
}

.partner-socials a {
  text-decoration: none;
  color: white;
}

.partner-social-icon {
  width: 25px !important;
  margin: 0 10px;
  cursor: pointer;
}

.partner-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.team-members {
  width: 60%;
  font-size: calc(0.5rem + 1vmin);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.team-members .partner-logo {
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .partners {
    width: 80%;
  }

  .partners-list {
    flex-direction: column;
    align-items: center;
  }

  .partner {
    width: 100%;
  }
}
