.about {
  align-items: center;
  justify-content: center;
}

.about h2 {
  text-align: center;
}

.about p {
  max-width: 50%;
  text-align: center;
}

.about-cards {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.about-card {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #23232B;
  border-radius: 0.5em;
  padding: 0.5em 0.25em;
}

.about-card p {
  margin-top: 0;
  max-width: 100%;
  text-align: center;
  font-size: calc(0.25rem + 1vmin);
}

@media screen and (max-width: 768px) {

  .about p {
    max-width: 80%;
  }

  .about h2 {
    max-width: 80%;
  }
  .about-cards {
    flex-direction: column;
    align-items: center;
  }

  .about-card {
    width: 80%;
    margin: 0.5em 0;
  }
}
