.about {
  align-items: center;
  justify-content: center;
}

.about h2 {
  text-align: center;
}

.about h3 {
  margin-bottom: 0;
}

.about p {
  max-width: 50%;
  text-align: center;
}

.about-cards {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0;
}

.about-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #23232B;
  border-radius: 0.5em;
  padding: 0.5em 0.25em;
  margin: 0.5em 0;
}

.about-card p {
  max-width: 100%;
  text-align: center;
  font-size: calc(0.25rem + 1vmin);
}

.news {
  width: 60%;
  font-size: calc(0.35rem + 1vmin);
  background-color: #23232B;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-list {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.news-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
}

.news-icon {
  width: 20px !important;
}

.what-we-do {
  width: 60%;
  font-size: calc(0.35rem + 1vmin);
  background-color: #23232B;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 1.5em;
  margin-bottom: 2em;
}

.what-we-do-list {
  list-style-type: none;
}

.what-we-do-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  gap: 10px;
}

.menu-tiles {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.menu-tile {
  width: 32%;
  font-size: calc(0.35rem + 1vmin);
  background-color: #23232B;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media screen and (max-width: 768px) {

  .about p {
    max-width: 80%;
  }

  .about h2 {
    max-width: 80%;
  }
  .about-cards {
    flex-direction: column;
    align-items: center;
  }

  .about-card {
    width: 80%;
    margin: 0.5em 0;
  }

  .news {
    width: 80%;
  }

  .news-list {
    flex-direction: column;
  }

  .what-we-do {
    width: 80%;
  }

  .what-we-do-list {
    padding: 0;
  }

  .what-we-do-list li {
    height: auto;
  }

  .menu-tiles {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }

  .menu-tile {
    width: 100%;
    margin: 0.25em 0;
  }
}
