.home {
  justify-content: center;
  align-items: center;
}

.home h3 {
  text-transform: uppercase;
  margin: 10px 0;
}

.home h1 {
  margin: 10px 0;
}

.home p {
  max-width: 50%;
  text-align: center;
  line-height: 1.4em;
}

@media screen and (max-width: 768px) {
  .home p {
    max-width: 90%;
  }
}
