body {
  margin: 0;
  font-family: 'Sora', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a21;
  background-image: url(./assets/bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 350% 350%;
}
